# Node.js
frontend/node_modules/
frontend/.next/
frontend/dist/
frontend/tsconfig.tsbuildinfo

# Python
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd

# System/Environment
.env
.env.local
*.pem
*.key
*.log
.DS_Store

# Berkas Rahasia
*.md
!README.md